/** @konrad-jamrozik
/* @konrad-jamrozik
/foo/**/a.txt @konrad-jamrozik
/foo/*/a.txt @konrad-jamrozik

/ccc/ddd* @konrad-jamrozik
/bbb/** @konrad-jamrozik
/bbb/* @konrad-jamrozik
/bbb/ @konrad-jamrozik
/aaa* @konrad-jamrozik
