/ @konrad-jamrozik
/** @konrad-jamrozik
/* @konrad-jamrozik
/foo/**/a.txt @konrad-jamrozik
/foo/*/a.txt @konrad-jamrozik

/ggg @konrad-jamrozik

/fff/*/ @konrad-jamrozik

/eee/**/ @konrad-jamrozik

/ccc/** @konrad-jamrozik
/ccc/* @konrad-jamrozik
/ccc/ddd* @konrad-jamrozik

/bbb/ @konrad-jamrozik

/aaa* @konrad-jamrozik
